* {
    margin: 0;

}

.#title{
     display: block;
    text-align: center;
    align-items: center;
    font-size: large;
  
}

#mapid { 
    background-color: aqua;
    margin: 50px auto;
    width: 800px;
    height: 800px;
 }

 